#floatingActions.relative
	a#twitter.button.shadow: i.fa.fa-twitter
	a#google-plus.button.shadow: i.fa.fa-google-plus
	a#tumblr.button.shadow: i.fa.fa-tumblr
	a#facebook.button.shadow: i.fa.fa-facebook
	a#share.accent.shadow
		i.fa.fa-share-alt
		i.fa.fa-times(style="display:none;")
