#floatingActions.relative
	a#twitter.button.shadow(href="javascript:popup('https://twitter.com/home?status=I%20just%20found%20a%20new%20sound%20customization%20app%20called%20@blipsqueak!%20Check%20it%20out%20at%20http://blipsqueak.io');")
		i.fa.fa-twitter
	a#google-plus.button.shadow(href="javascript:popup('https://plus.google.com/share?url=http%3A%2F%2Fblipsqueak.io');")
		i.fa.fa-google-plus
	a#tumblr.button.shadow(href="javascript:popup('http://www.tumblr.com/share/link?url=http%3A%2F%2Fblipsqueak.io&name=Blipsqueak&description=I%20just%20found%20a%20new%20Android%20app%20for%20customizing%20notification%20sounds%20called%20Blipsqueak.%20Check%20it%20out!')")
		i.fa.fa-tumblr
	a#facebook.button.shadow(href="javascript:popup('https://www.facebook.com/sharer/sharer.php?u=http://blipsqueak.io');")
		i.fa.fa-facebook
	a#share.accent.shadow(href="javascript:toggleActionMenu();")
		i.fa.fa-share-alt
		i.fa.fa-times(style="display:none;")
