//
	Copyright (C) 2015 Miranda Fluharty

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>

#footer.pure-g.primary-darker.innershadow
	.pure-u-1.spacer(style="padding-top:80px")
		.pure-menu.pure-menu-open.pure-menu-horizontal
			ul
				li: a(href="//twitter.blipsqueak.io")
						i.fa.fa-twitter
						span &nbsp;&nbsp;@blipsqueak
				li: a(href="mailto:blipsqueakapp@gmail.com")
						i.fa.fa-envelope
						span &nbsp;&nbsp;Email Feedback
				li: a(href="//repo.blipsqueak.io")
						i.fa.fa-github
						span &nbsp;&nbsp;Source on Github
