#footer.pure-g.primary-darker.innershadow
	.pure-u-1.spacer(style="padding-top:80px")
		.pure-menu.pure-menu-open.pure-menu-horizontal
			ul
				li: a(href="//twitter.com/blipsqueak")
					i.fa.fa-twitter
					span &nbsp;&nbsp;@blipsqueak
				li: a(href="mailto:randaflu@gmail.com")
					i.fa.fa-envelope
					span &nbsp;&nbsp;Email
				li: a(href="//github.com/mirandaflu/blipsqueak")
					i.fa.fa-github
					span &nbsp;&nbsp;Source on Github
