//
	Copyright (C) 2015 Miranda Fluharty

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>

doctype html
html(lang="en")
	include head.jade
	body

		.pure-g.primary-darker(style="padding:20px 0;")
			.pure-u-1
				h1 Idea gallery
				h4 Send in screenshots of your profiles to get them featured here
				span Tap/click to enlarge
			
		#ideas.pure-g
			each idea in ["./img/ideas/yes.png","./img/ideas/thanks.png","./img/ideas/ok.png","./img/ideas/tongue.png","./img/ideas/no.png","./img/ideas/questions.png","./img/ideas/caps.png"]
				.pure-u-6-24.pure-u-lg-4-24: a(href=idea): img.pure-img(src=idea)
				
		#blueimp-gallery.blueimp-gallery
			.slides
			ol.indicator
		
		include footer.jade
		
		include floatingActions.jade

		script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(type="text/javascript" src="./ext/blueimp-gallery.min.js")
		script(type="text/javascript" src="./js/ideaGallery.min.js")
		script(type="text/javascript" src="./js/floatingActions.min.js")
